* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
}

html, body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.container, .sub_container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.ring-circle {
    transform-origin:center;
    transform: rotate(-90deg);
    transition: 0.5s;
}

.value {
    border-radius: 30px;
    text-align: center;
}

.input-wrapper{
    display: flex;
    height: 20%;
}
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.names {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    height: 30%;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

input {
    height: 30%;
}